<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- 
		生成手部动力学参数 (dyn_param) 的宏
		格式 (10个值): [M, mx, my, mz, XX, XY, XZ, YY, YZ, ZZ]
		- M: 质量 (单位: kg)
		- mx, my, mz: 质心位置 (单位: mm)
		- XX, XY, XZ, YY, YZ, ZZ: 转动惯量 (6个值)
		此宏从手部 URDF 定义中获取参数，避免重复定义
	-->
	<xacro:macro name="linkerhand_dyn_param" params="type direction com_offset_x:=0 com_offset_y:=0 com_offset_z:=0">
		<!-- 包含手部定义文件以访问参数宏 -->
		<xacro:if value="${type == 'o6'}">
			<xacro:include filename="$(find linkerhand_description)/xacro/o6.xacro"/>
			<xacro:LinkerHandO6_DynParams direction="${direction}" 
				com_offset_x="${com_offset_x}" 
				com_offset_y="${com_offset_y}" 
				com_offset_z="${com_offset_z}"/>
		</xacro:if>
		<xacro:if value="${type == 'l6'}">
			<xacro:include filename="$(find linkerhand_description)/xacro/l6.xacro"/>
			<xacro:LinkerHandL6_DynParams direction="${direction}" 
				com_offset_x="${com_offset_x}" 
				com_offset_y="${com_offset_y}" 
				com_offset_z="${com_offset_z}"/>
		</xacro:if>
		<xacro:if value="${type == 'o7'}">
			<xacro:include filename="$(find linkerhand_description)/xacro/o7.xacro"/>
			<xacro:LinkerHandO7_DynParams direction="${direction}" 
				com_offset_x="${com_offset_x}" 
				com_offset_y="${com_offset_y}" 
				com_offset_z="${com_offset_z}"/>
		</xacro:if>
	</xacro:macro>

</robot>

