<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="LinkerHandL10" params="name direction:=1 use_flange:=false fixed_joints:=false">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>
		<xacro:property name="joint_type" value="${fixed_joints and 'fixed' or 'revolute'}"/>

		<xacro:if value="${use_flange}">
			<link name="${prefix}flange">
				<inertial>
					<origin xyz="-0.000388 0.002345 0.0"/>
					<mass value="0.114"/>
					<inertia
							ixx="0.000040105"
							ixy="0.000000214"
							ixz="0.0"
							iyy="0.000085776"
							iyz="0.0"
							izz="0.000054044"/>
				</inertial>
				<visual>
					<geometry>
						<mesh filename="file://$(find linkerhand_description)/meshes/o7/flange.glb"/>
					</geometry>
				</visual>
			</link>
			<joint name="${prefix}flange_joint" type="fixed">
				<origin xyz="0 0 0.022"/>
				<parent link="${prefix}flange"/>
				<child link="${prefix}hand_base"/>
			</joint>
		</xacro:if>

		<!-- ========================================== -->
		<!-- 手掌基座 (Hand Base) -->
		<!-- ========================================== -->
		<link name="${prefix}hand_base">
			<inertial>
				<origin
						xyz="-0.00378861347427444 ${direction*0.000820204450212636} 0.0805686615687793"/>
				<mass value="0.103652479414282"/>
				<inertia ixx="0.000193076183439416"
								 ixy="${direction*-1.28622350247984E-06}"
								 ixz="2.06064564158949E-07"
								 iyy="0.00012926288517179"
								 iyz="${direction*2.33887125852557E-06}"
								 izz="7.7154522927083E-05"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/base.glb" scale="1 ${direction} 1"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/base.glb" scale="1 ${direction} 1"/>
				</geometry>
			</collision>
		</link>

		<!-- ========================================== -->
		<!-- 拇指部分 (Thumb) -->
		<!-- ========================================== -->
		<link name="${prefix}thumb_metacarpals_base1">
			<inertial>
				<origin
						xyz="0.0284774512174003 ${direction*0.00319294525979458} 0.000288805100279406"/>
				<mass value="0.00845816139945221"/>
				<inertia ixx="1.40261486759336E-06"
								 ixy="${direction*-1.18203915023492E-07}"
								 ixz="-1.77734618116876E-08"
								 iyy="9.82563502315962E-07"
								 iyz="${direction*6.88489366314261E-08}"
								 izz="7.36187487063603E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_metacarpals_base1.glb"
								scale="1 ${direction} 1"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_metacarpals_base1.glb"
								scale="1 ${direction} 1"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_joint3" type="${joint_type}">
			<origin xyz="-0.013419 ${direction*-0.012551} 0.060602"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}thumb_metacarpals_base1"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="${direction*-0.99996} 0 -0.0087265"/>
				<limit lower="0" upper="1.1339" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_metacarpals_base2">
			<inertial>
				<origin
						xyz="0.00183846579918134 ${direction*-0.00587846426611621} -0.0015162158210808"/>
				<mass value="0.00244725578113259"/>
				<inertia ixx="1.15251315698557E-07"
								 ixy="${direction*4.89370850547165E-09}"
								 ixz="2.66612542059565E-09"
								 iyy="9.94309628765418E-08"
								 iyz="${direction*3.10591576019106E-09}"
								 izz="6.87375869983625E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/thumb_metacarpals_base2.glb" scale="1 ${direction} 1"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/thumb_metacarpals_base2.glb" scale="1 ${direction} 1"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_joint2" type="${joint_type}">
			<origin xyz="0.035797 ${direction*0.00065879} 0.00045944"/>
			<parent link="${prefix}thumb_metacarpals_base1"/>
			<child link="${prefix}thumb_metacarpals_base2"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="${direction*-0.008517} -0.21782 ${direction*0.97595}"/>
				<limit lower="0" upper="1.9189" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_metacarpals">
			<inertial>
				<origin
						xyz="0.00183662026125164 ${direction*3.48962479811143E-06} 0.0269904486748884"/>
				<mass value="0.01520120856034"/>
				<inertia ixx="2.9536990439562E-06"
								 ixy="${direction*-4.54477085913726E-11}"
								 ixz="1.58082889158651E-07"
								 iyy="3.8477051320862E-06"
								 iyz="${direction*-4.17561402252793E-10}"
								 izz="1.32008356198982E-06"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_metacarpals.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_metacarpals.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_joint1" type="${joint_type}">
			<origin xyz="0.0046051 ${direction*-0.014383} -0.0051478"
							rpy="${direction*-0.16356} -1.1191 ${direction*2.0038}"/>
			<parent link="${prefix}thumb_metacarpals_base2"/>
			<child link="${prefix}thumb_metacarpals"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="0.5149" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_proximal">
			<inertial>
				<origin
						xyz="0.0015926125860982 ${direction*4.26589066317498E-06} 0.0151572207811941"/>
				<mass value="0.00662223966318386"/>
				<inertia ixx="1.0152616293145E-06"
								 ixy="${direction*6.75215818960843E-12}"
								 ixz="4.42240858300533E-08"
								 iyy="9.10425093388008E-07"
								 iyz="${direction*-2.56550662127861E-11}"
								 izz="4.47461802494835E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_proximal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_proximal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_mcp" type="${joint_type}">
			<origin xyz="0.0061722 0 0.047968"/>
			<parent link="${prefix}thumb_metacarpals"/>
			<child link="${prefix}thumb_proximal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="0.7152" effort="100" velocity="1"/>
				<mimic joint="${prefix}thumb_joint1" multiplier="1.3898" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_distal">
			<inertial>
				<origin
						xyz="-0.00138804783940386 ${direction*-1.95109829512208E-06} 0.0115761271998154"/>
				<mass value="0.00512789958515099"/>
				<inertia ixx="3.30786354228455E-07"
								 ixy="${direction*3.37981828718406E-10}"
								 ixz="1.04683577058069E-07"
								 iyy="3.23607405408934E-07"
								 iyz="${direction*1.24601619348998E-10}"
								 izz="2.48874162996129E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_distal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/thumb_distal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_ip" type="${joint_type}">
			<origin xyz="-0.00017064 0 0.038665"/>
			<parent link="${prefix}thumb_proximal"/>
			<child link="${prefix}thumb_distal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="0.7763" effort="100" velocity="1"/>
				<mimic joint="${prefix}thumb_joint1" multiplier="1.508" offset="0"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 食指部分 (Index Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}index_metacarpals">
			<inertial>
				<origin
						xyz="-0.00152426817464821 ${direction*6.05770268113925E-07} 0.0106911596123391"/>
				<mass value="0.00388771277323252"/>
				<inertia ixx="1.87385239390143E-07"
								 ixy="${direction*-1.50747799029618E-11}"
								 ixz="-1.3585152124314E-08"
								 iyy="2.75278189614443E-07"
								 iyz="${direction*-2.13460044424543E-11}"
								 izz="2.06630683818818E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/index_metacarpals.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/index_metacarpals.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}index_joint2" type="${joint_type}">
			<origin xyz="-0.0021643 ${direction*-0.026654} 0.13253"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}index_metacarpals"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="${direction*0.99996} 0 0.0087265"/>
				<limit lower="0" upper="0.2181" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}index_proximal">
			<inertial>
				<origin
						xyz="-0.00138261335013087 ${direction*-2.0448073701218E-06} 0.0182296115874793"/>
				<mass value="0.00316246721925245"/>
				<inertia ixx="3.56395782183238E-07"
								 ixy="${direction*-1.519753847635E-11}"
								 ixz="4.33017644796655E-08"
								 iyy="3.51905921291625E-07"
								 iyz="${direction*1.08366129189436E-10}"
								 izz="1.41611972744247E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}index_joint1" type="${joint_type}">
			<origin xyz="0.0020763 0 0.015294"/>
			<parent link="${prefix}index_metacarpals"/>
			<child link="${prefix}index_proximal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.3607" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}index_middle">
			<inertial>
				<origin
						xyz="-0.00259933527445673 ${direction*2.18965318593556E-06} 0.0110174750966451"/>
				<mass value="0.00283043922879456"/>
				<inertia ixx="2.60328600820399E-07"
								 ixy="${direction*-5.78747075104944E-11}"
								 ixz="4.11785819343582E-08"
								 iyy="2.3307752147835E-07"
								 iyz="${direction*2.81942890795077E-11}"
								 izz="1.27252338208461E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}index_pip" type="${joint_type}">
			<origin xyz="-0.0013807 0 0.035624"/>
			<parent link="${prefix}index_proximal"/>
			<child link="${prefix}index_middle"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.8317" effort="100" velocity="1"/>
				<mimic joint="${prefix}index_joint1" multiplier="1.3462" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}index_distal">
			<inertial>
				<origin
						xyz="-0.000710517111010627 ${direction*-4.75726794854636E-06} 0.012145336450558"/>
				<mass value="0.00314452064297397"/>
				<inertia ixx="1.63317340328391E-07"
								 ixy="${direction*-2.09419656935959E-11}"
								 ixz="4.33496816458187E-08"
								 iyy="1.48361285562251E-07"
								 iyz="${direction*1.96803996917722E-10}"
								 izz="9.85553531650042E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}index_dip" type="${joint_type}">
			<origin xyz="-0.0054686 0 0.025665"/>
			<parent link="${prefix}index_middle"/>
			<child link="${prefix}index_distal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="0.628" effort="100" velocity="1"/>
				<mimic joint="${prefix}index_joint1" multiplier="0.4616" offset="0"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 中指部分 (Middle Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}middle_proximal">
			<inertial>
				<origin
						xyz="-0.00139098027014184 ${direction*-2.04476498844031E-06} 0.0182289750275599"/>
				<mass value="0.00316246719662224"/>
				<inertia ixx="3.56355985740973E-07"
								 ixy="${direction*-1.52464655137029E-11}"
								 ixz="4.34003274159042E-08"
								 iyy="3.51905920397221E-07"
								 iyz="${direction*1.08359634878477E-10}"
								 izz="1.41651767407151E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}middle_joint1" type="${joint_type}">
			<origin xyz="-0.0021316 ${direction*-0.0076542} 0.15281"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}middle_proximal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.3607" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}middle_middle">
			<inertial>
				<origin
						xyz="-0.0026170048250792 ${direction*2.18964489276385E-06} 0.0110132913946175"/>
				<mass value="0.00283043921858529"/>
				<inertia ixx="2.6019615015243E-07"
								 ixy="${direction*-5.79194626881696E-11}"
								 ixz="4.13918339836743E-08"
								 iyy="2.33077520740401E-07"
								 iyz="${direction*2.81014096462077E-11}"
								 izz="1.27384787247362E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}middle_pip" type="${joint_type}">
			<origin xyz="-0.001397 0 0.035623"/>
			<parent link="${prefix}middle_proximal"/>
			<child link="${prefix}middle_middle"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.8317" effort="100" velocity="1"/>
				<mimic joint="${prefix}middle_joint1" multiplier="1.3462" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}middle_distal">
			<inertial>
				<origin
						xyz="-0.000728403029144615 ${direction*-4.7556974856755E-06} 0.0121442774004862"/>
				<mass value="0.00314452092965163"/>
				<inertia ixx="1.63189533228873E-07"
								 ixy="${direction*-2.12447856725291E-11}"
								 ixz="4.34448768867267E-08"
								 iyy="1.48361296215225E-07"
								 iyz="${direction*1.96771697224987E-10}"
								 izz="9.86831899309453E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}middle_dip" type="${joint_type}">
			<origin xyz="-0.0055098 0 0.025656"/>
			<parent link="${prefix}middle_middle"/>
			<child link="${prefix}middle_distal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.628" effort="100" velocity="1"/>
				<mimic joint="${prefix}middle_joint1" multiplier="0.4616" offset="0"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 无名指部分 (Ring Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}ring_metacarpals">
			<inertial>
				<origin
						xyz="-0.00152426817464828 ${direction*6.05770268197192E-07} 0.010691159612339"/>
				<mass value="0.00388771277323251"/>
				<inertia ixx="1.87385239390142E-07"
								 ixy="${direction*-1.50747799012373E-11}"
								 ixz="-1.35851521243144E-08"
								 iyy="2.75278189614442E-07"
								 iyz="${direction*-2.13460044414369E-11}"
								 izz="2.06630683818817E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/index_metacarpals.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/index_metacarpals.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}ring_joint2" type="${joint_type}">
			<origin xyz="-0.0021643 ${direction*0.011346} 0.13253"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}ring_metacarpals"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="${direction*-0.99996} 0 0.0087265"/>
				<limit lower="0" upper="0.2181" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}ring_proximal">
			<inertial>
				<origin
						xyz="-0.00138261330266684 ${direction*-2.0447785264166E-06} 0.0182296118982312"/>
				<mass value="0.0031624671652163"/>
				<inertia ixx="3.56395781426818E-07"
								 ixy="${direction*-1.51970550291323E-11}"
								 ixz="4.33017653956416E-08"
								 iyy="3.51905919284355E-07"
								 iyz="${direction*1.08366441004821E-10}"
								 izz="1.4161197116697E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}ring_joint1" type="${joint_type}">
			<origin xyz="0.0020763 0 0.015294"/>
			<parent link="${prefix}ring_metacarpals"/>
			<child link="${prefix}ring_proximal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.3607" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}ring_middle">
			<inertial>
				<origin
						xyz="-0.00259933547466245 ${direction*2.18954477221311E-06} 0.0110174751134697"/>
				<mass value="0.00283043915953111"/>
				<inertia ixx="2.60328598871493E-07"
								 ixy="${direction*-5.78718096660343E-11}"
								 ixz="4.11785818944011E-08"
								 iyy="2.33077515495018E-07"
								 iyz="${direction*2.81941916146631E-11}"
								 izz="1.27252331273933E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}ring_pip" type="${joint_type}">
			<origin xyz="-0.0013807 0 0.035624"/>
			<parent link="${prefix}ring_proximal"/>
			<child link="${prefix}ring_middle"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.8317" effort="100" velocity="1"/>
				<mimic joint="${prefix}ring_joint1" multiplier="1.3462" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}ring_distal">
			<inertial>
				<origin
						xyz="-0.000710517105065085 ${direction*-4.75636578367578E-06} 0.0121453401469508"/>
				<mass value="0.00314452208497789"/>
				<inertia ixx="1.63317386570295E-07"
								 ixy="${direction*-2.09324585080789E-11}"
								 ixz="4.33497128582753E-08"
								 iyy="1.48361350800559E-07"
								 iyz="${direction*1.9679121866702E-10}"
								 izz="9.85553885284675E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}ring_dip" type="${joint_type}">
			<origin xyz="-0.0054686 0 0.025665"/>
			<parent link="${prefix}ring_middle"/>
			<child link="${prefix}ring_distal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="0.628" effort="100" velocity="1"/>
				<mimic joint="${prefix}ring_joint1" multiplier="0.4616" offset="0"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 小指部分 (Pinky Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}pinky_metacarpals">
			<inertial>
				<origin
						xyz="-0.0015242681746482 ${direction*6.05770268197192E-07} 0.010691159612339"/>
				<mass value="0.00388771277323252"/>
				<inertia ixx="1.87385239390143E-07"
								 ixy="${direction*-1.50747799026559E-11}"
								 ixz="-1.35851521243143E-08"
								 iyy="2.75278189614442E-07"
								 iyz="${direction*-2.13460044423049E-11}"
								 izz="2.06630683818817E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/index_metacarpals.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/l10/index_metacarpals.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}pinky_joint2" type="${joint_type}">
			<origin xyz="-0.00012074 ${direction*0.030346} 0.12755"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}pinky_metacarpals"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="${direction*-0.99996} 0 0.0087265"/>
				<limit lower="0" upper="0.3489" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}pinky_proximal">
			<inertial>
				<origin
						xyz="-0.0013826133500916 ${direction*-2.04480739013357E-06} 0.0182296115873023"/>
				<mass value="0.00316246721927742"/>
				<inertia ixx="3.56395782184299E-07"
								 ixy="${direction*-1.51975383069221E-11}"
								 ixz="4.33017644806427E-08"
								 iyy="3.51905921292737E-07"
								 iyz="${direction*1.08366128612708E-10}"
								 izz="1.41611972744827E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_proximal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}pinky_joint1" type="${joint_type}">
			<origin xyz="0.0020763 0 0.015294"/>
			<parent link="${prefix}pinky_metacarpals"/>
			<child link="${prefix}pinky_proximal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.3607" effort="100" velocity="1"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}pinky_middle">
			<inertial>
				<origin
						xyz="-0.0025993354746625 ${direction*2.18954477224087E-06} 0.0110174751134698"/>
				<mass value="0.00283043915953116"/>
				<inertia ixx="2.60328598871551E-07"
								 ixy="${direction*-5.78718096771597E-11}"
								 ixz="4.11785818944279E-08"
								 iyy="2.33077515495214E-07"
								 iyz="${direction*2.81941916132638E-11}"
								 izz="1.27252331274066E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_middle.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}pinky_pip" type="${joint_type}">
			<origin xyz="-0.0013807 0 0.035624"/>
			<parent link="${prefix}pinky_proximal"/>
			<child link="${prefix}pinky_middle"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.8317" effort="100" velocity="1"/>
				<mimic joint="${prefix}pinky_joint1" multiplier="1.3462" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}pinky_distal">
			<inertial>
				<origin
						xyz="-0.000710517460743719 ${direction*-4.75730252216811E-06} 0.0121453361986339"/>
				<mass value="0.00314452044951957"/>
				<inertia ixx="1.63317337383031E-07"
								 ixy="${direction*-2.09430019728007E-11}"
								 ixz="4.33496839959002E-08"
								 iyy="1.48361292034124E-07"
								 iyz="${direction*1.96809590206387E-10}"
								 izz="9.85553441949477E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find linkerhand_description)/meshes/o7/index_distal.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}pinky_dip" type="${joint_type}">
			<origin xyz="-0.0054686 0 0.025665"/>
			<parent link="${prefix}pinky_middle"/>
			<child link="${prefix}pinky_distal"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="0.628" effort="100" velocity="1"/>
				<mimic joint="${prefix}pinky_joint1" multiplier="0.4616" offset="0"/>
			</xacro:unless>
		</joint>

	</xacro:macro>

</robot>
