<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="collider" default="convex"/>
    <xacro:property name="collider_type" value="$(arg collider)"/>

    <xacro:macro name="ERG32" params="name use_flange:=false kinematic_only:=false eef_flip:=false">
        <xacro:property name="prefix" value="${name + '_' if name else ''}"/>
        <xacro:property name="PI" value="3.1415926535897931"/>
        <xacro:property name="mesh_dir" value="file://$(find jodell_description)/meshes/ERG32"/>

        <xacro:if value="${use_flange}">
            <link name="${prefix}flange">
                <inertial>
                    <origin xyz="0.000305885650140558 0.000267684650402999 0.0249110142039495"/>
                    <mass value="0.0783124950078741"/>
                    <inertia
                            ixx="3.80095585602508E-05"
                            ixy="6.00445809055253E-07"
                            ixz="-1.09237459753816E-07"
                            iyy="3.86550347192898E-05"
                            iyz="3.03326465981076E-06"
                            izz="3.10143704881048E-05"/>
                </inertial>
                <visual>
                    <geometry>
                        <mesh filename="${mesh_dir}/flange.glb"/>
                    </geometry>
                </visual>
            </link>
        </xacro:if>

        <link name="${prefix}gripper_base">
            <inertial>
                <origin xyz="-6.79937744019199E-05 -0.000417971745445493 0.0724339746992251"/>
                <mass value="2.95713354265901"/>
                <inertia
                        ixx="0.00237780834085762"
                        ixy="-4.75180944172918E-07"
                        ixz="-1.51235271598304E-06"
                        iyy="0.00209518560281187"
                        iyz="-1.16361709203493E-05"
                        izz="0.00119380599175119"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="${mesh_dir}/base.glb"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0.077"/>
                <geometry>
                    <box size="0.05 0.057 0.154"/>
                </geometry>
            </collision>
        </link>

        <xacro:if value="${use_flange}">
            <joint name="${prefix}flange_joint" type="fixed">
                <origin xyz="0 -0.00599999999973013 0.053"/>
                <parent link="${prefix}flange"/>
                <child link="${prefix}gripper_base"/>
            </joint>
        </xacro:if>

        <xacro:unless value="${kinematic_only}">
        <link name="${prefix}rotate_link">
            <inertial>
                <origin xyz="-5.45793963357966E-08 9.5242053257949E-08 0.00642398442547314"/>
                <mass value="0.0865214362073668"/>
                <inertia
                        ixx="1.29040319713028E-05"
                        ixy="9.11508400199314E-11"
                        ixz="2.53870695351691E-11"
                        iyy="1.05861502315259E-05"
                        iyz="-4.24144783650503E-11"
                        izz="2.00427995930922E-05"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="${mesh_dir}/link1.glb"/>
                </geometry>
            </visual>
        </link>

        <joint name="${prefix}rotate_joint" type="revolute">
            <origin xyz="0 0.006 0.1542"/>
            <parent link="${prefix}gripper_base"/>
            <child link="${prefix}rotate_link"/>
            <axis xyz="0 0 1"/>
            <limit lower="-${PI}" upper="${PI}" effort="100" velocity="1"/>
        </joint>

            <link name="${prefix}left_finger">
                <inertial>
                    <origin xyz="-0.000191887535054391 -0.00800000039588765 -0.00732142649430878"/>
                    <mass value="0.013849228465198"/>
                    <inertia
                            ixx="7.84774663244874E-07"
                            ixy="6.27740533573221E-15"
                            ixz="-3.69333899366173E-09"
                            iyy="2.31872411166103E-07"
                            iyz="8.89076767548429E-15"
                            izz="7.11052768500866E-07"/>
                </inertial>
                <visual>
                    <geometry>
                        <mesh filename="${mesh_dir}/slider.glb"/>
                    </geometry>
                </visual>
            </link>

            <joint name="${prefix}gripper_joint" type="prismatic">
                <origin xyz="0.0085 0.0165 0.0158"/>
                <parent link="${prefix}rotate_link"/>
                <child link="${prefix}left_finger"/>
                <axis xyz="0 -1 0"/>
                <limit lower="0" upper="0.016" effort="100" velocity="1"/>
            </joint>

            <link name="${prefix}left_finger_tip">
                <inertial>
                    <origin xyz="-0.00366026140688303 -0.000380549066654468 0.0104340223340119"/>
                    <mass value="0.00681605794925689"/>
                    <inertia
                            ixx="1.72468314029271E-06"
                            ixy="-1.10858180698747E-07"
                            ixz="3.20172966498611E-07"
                            iyy="1.53421083218412E-06"
                            iyz="3.78393338936125E-07"
                            izz="6.13604828970641E-07"/>
                </inertial>
                <visual>
                    <geometry>
                        <mesh filename="${mesh_dir}/finger.glb"/>
                    </geometry>
                </visual>
                <xacro:if value="${collider_type == 'convex'}">
                    <collision>
                        <geometry>
                            <mesh filename="${mesh_dir}/finger.glb"/>
                        </geometry>
                    </collision>
                </xacro:if>
            </link>

            <joint name="${prefix}left_finger_tip_joint" type="fixed">
                <origin xyz="0 -0.016 0.006"/>
                <parent link="${prefix}left_finger"/>
                <child link="${prefix}left_finger_tip"/>
            </joint>

            <link name="${prefix}right_finger">
                <inertial>
                    <origin xyz="0.000191887535054391 0.00800000039588757 -0.00732142649430881"/>
                    <mass value="0.013849228465198"/>
                    <inertia
                            ixx="7.84774663244874E-07"
                            ixy="6.2774001949461E-15"
                            ixz="3.69333899366155E-09"
                            iyy="2.31872411166104E-07"
                            iyz="-8.89076974114655E-15"
                            izz="7.11052768500867E-07"/>
                </inertial>
                <visual>
                    <origin rpy="0 0 ${PI}"/>
                    <geometry>
                        <mesh filename="${mesh_dir}/slider.glb"/>
                    </geometry>
                </visual>
            </link>

            <joint name="${prefix}right_finger_joint" type="prismatic">
                <origin xyz="-0.0085 -0.0165 0.0158"/>
                <parent link="${prefix}rotate_link"/>
                <child link="${prefix}right_finger"/>
                <axis xyz="0 -1 0"/>
                <limit lower="-0.016" upper="0" effort="100" velocity="1"/>
                <mimic joint="${prefix}gripper_joint" multiplier="-1" offset="0"/>
            </joint>

            <link name="${prefix}right_finger_tip">
                <inertial>
                    <origin xyz="0.0036602614068828 0.000380549066654287 0.0104340223340114"/>
                    <mass value="0.00681605794925683"/>
                    <inertia
                            ixx="1.72468314029264E-06"
                            ixy="-1.10858180698747E-07"
                            ixz="-3.20172966498605E-07"
                            iyy="1.53421083218406E-06"
                            iyz="-3.7839333893611E-07"
                            izz="6.13604828970645E-07"/>
                </inertial>
                <visual>
                    <origin rpy="0 0 ${PI}"/>
                    <geometry>
                        <mesh filename="${mesh_dir}/finger.glb"/>
                    </geometry>
                </visual>
                <xacro:if value="${collider_type == 'convex'}">
                    <collision>
                        <origin rpy="0 0 ${PI}"/>
                        <geometry>
                            <mesh filename="${mesh_dir}/finger.glb"/>
                        </geometry>
                    </collision>
                </xacro:if>
            </link>

            <joint name="${prefix}right_finger_tip_joint" type="fixed">
                <origin xyz="0 0.016 0.00600000000000001"/>
                <parent link="${prefix}right_finger"/>
                <child link="${prefix}right_finger_tip"/>
            </joint>
        </xacro:unless>

        <link name="${prefix}eef"/>
        <joint name="${prefix}eef_joint" type="fixed">
            <parent link="${prefix}gripper_base"/>
            <child link="${prefix}eef"/>
            <xacro:if value="${eef_flip}">
                <origin xyz="0 0.006 0.2172" rpy="0 0 ${PI}"/>
            </xacro:if>
            <xacro:unless value="${eef_flip}">
                <origin xyz="0 0.006 0.2172"/>
            </xacro:unless>
        </joint>
    </xacro:macro>
</robot>
