<?xml version="1.0" encoding="utf-8"?>
<robot name="TheoHand_$(arg type)" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="type" default="std16a"/>
    <xacro:arg name="direction" default="1"/>

    <xacro:if value="${'$(arg type)' == 'std16a'}">
        <xacro:include filename="$(find theohand_description)/xacro/std16a.xacro"/>
        <xacro:TheoHandStd16A name="" direction="$(arg direction)"/>
    </xacro:if>

</robot>
