<?xml version="1.0" encoding="utf-8"?>
<robot name="BrainCo_$(arg type)_left" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="type" default="Revo2"/>
	<xacro:arg name="direction" default="1"/>

	<xacro:if value="${'$(arg type)' == 'Revo2'}">
		<xacro:include filename="$(find brainco_description)/xacro/revo2.xacro"/>
		<xacro:BrainCoHand name="" direction="$(arg direction)"/>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'Revo1'}">
		<xacro:include filename="$(find brainco_description)/xacro/revo1.xacro"/>
		<xacro:BrainCoHand name="" direction="$(arg direction)"/>
	</xacro:if>

</robot>
