<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BrainCo Revo1 灵巧手接口定义宏 -->
  <xacro:macro name="revo1_interfaces" params="name">
    <xacro:arg name="gazebo" default="false"/>
    <xacro:property name="prefix" value="${name + '_' if name else ''}"/>
    
    <!-- 拇指关节接口 -->
    <joint name="${prefix}thumb_joint2">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}thumb_joint1">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- 食指关节接口 -->
    <joint name="${prefix}index_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- 中指关节接口 -->
    <joint name="${prefix}middle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- 无名指关节接口 -->
    <joint name="${prefix}ring_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- 小指关节接口 -->
    <joint name="${prefix}pinky_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <xacro:if value="$(arg gazebo)">

      <joint name="${prefix}index_pip_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}middle_pip_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}ring_pip_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}pinky_pip_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:if>
  </xacro:macro>

</robot>
