<?xml version="1.0" encoding="utf-8"?>
<robot name="Freedom_$(arg type)" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="type" default="freedom"/>
	<xacro:arg name="direction" default="1"/>

	<xacro:include filename="$(find freedom_description)/xacro/freedom.xacro"/>
	<xacro:FreedomHand name="" direction="$(arg direction)"/>

</robot>
