<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hitbot_z_efg_100_interfaces" params="name">
    <xacro:arg name="gazebo" default="false"/>
    <xacro:property name="prefix" value="${name + '_' if name else ''}"/>

    <!-- Main driven joint interface -->
    <joint name="${prefix}gripper_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.75</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <xacro:if value="$(arg gazebo)">
      <!-- Mimic joint interfaces, enabled only for Gazebo -->
      <joint name="${prefix}gripper_joint2">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}gripper_joint3">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}gripper_joint4">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}gripper_joint5">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}gripper_joint6">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:if>
  </xacro:macro>
</robot>
